<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">

  <title>ATLAS Tower Light Controller</title>

</head>

<body>

	  <table id="keyframes">
  <tr>
    <th>Color</th>
    <th>Transition Type</th> 
    <th>Duration (ms)</th>
	<th>Delete</th>
  </tr>
  </table>

</form>
</body>
</html>

